<div class="container">
  <div class="title">
    <img src="assets/icons/Logo.svg" height="30" alt="Logo" />
    <h5>Pulse Forge</h5>
  </div>
  <div class="nav-item" [routerLink]="['/dashboard']">
    <img src="assets/icons/Dashboard.svg" alt="dashboard" />
    <p>Dashboard</p>
  </div>
  <div class="nav-item" [routerLink]="['/store']">
    <img src="assets/icons/Cart.svg" alt="E-Commerce" />
    <p>E-Commerce</p>
  </div>
  <div class="nav-item" [routerLink]="['/calendar']">
    <img src="assets/icons/Calendar.svg" alt="Calendar" />
    <p>Calendar</p>
  </div>
  <div class="nav-item" [routerLink]="['/mail']">
    <img src="assets/icons/Mail.svg" alt="Mail" />
    <p>Mail</p>
  </div>
  <div class="nav-item" [routerLink]="['/chat']">
    <img src="assets/icons/Chat.svg" alt="Chat" />
    <p>Chat</p>
  </div>
  <div class="nav-item" [routerLink]="['/tasks']">
    <img src="assets/icons/Tasks.svg" alt="Tasks" />
    <p>Tasks</p>
  </div>
  <div class="nav-item" [routerLink]="['/projects']">
    <img src="assets/icons/Projects.svg" alt="Projects" />
    <p>Projects</p>
  </div>
  <div class="nav-item" [routerLink]="['/files']">
    <img src="assets/icons/FileManager.svg" alt="File Manager" />
    <p>File Manager</p>
  </div>
  <div class="nav-item" [routerLink]="['/notes']">
    <img src="assets/icons/Notes.svg" alt="Notes" />
    <p>Notes</p>
  </div>
  <div class="nav-item" [routerLink]="['/contacts']">
    <img src="assets/icons/Contacts.svg" alt="contacts" />
    <p>Contacts</p>
  </div>
</div>
