<div class="container">
  <img src="assets/icons/Menu.svg" height="28px" width="28px" alt="Menu" />
  <div class="search">
    <img
      src="assets/icons/Search.svg"
      height="22px"
      width="22px"
      alt="Search"
    />
    <input type="text" placeholder="Search anything..." />
  </div>
  <div class="settings">
    <img
      src="assets/icons/Setting.svg"
      height="22px"
      width="22px"
      alt="Settings"
    />
    <img
      src="assets/icons/Notification.svg"
      height="22px"
      width="22px"
      alt="Notification"
    />
    <img
      src="assets/avatars/Avatar.svg"
      height="40px"
      width="40px"
      alt="Settings"
    />
  </div>
</div>
